libs/
bower_components/
node_modules/
node_modules.zip
.shared/
bowerRepository.json
bowerRepositoryPublic.json
.tmp/
.sass-cache/
reports/
dist/
npm-debug.log
.idea/
**/build/

**/.sass-cache/
**/*.css.map
**/*.swp