html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.box {
    text-align: center;
}

.btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 10px;
    margin-right: 50px;
    color: #333;
}

.btn:hover {
    background-color: #eee;
}

/*
 * loadind页应该是占满整个可视区域的
 * 并且不会随着滚动条的滚动而滚动
 */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: center;
    font-size: 30px;
}

.progress {
    margin-top: 300px;
}
