.wrap {
    position: relative;
    width: 200px;
    left: 50px;
    top: 50px;
}

ul {
    padding: 15px 0;
    margin: 9;
    list-style: none;
    background: #6c6669;
    color: #ffffff;
    border-right-width: 0;
}

li {
    height: 30px;
    line-height: 30px; /* line-height = height来实现垂直居中 */
    padding-left: 12px;
    cursor: pointer;
    position: relative;
}

li.active {
    background: #999395;
}

li span:hover {
    color: #c81623;
}

.none {
    display: none;
}

#sub {
    width: 600px;
    position: absolute;
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
    left: 200px;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

.sub-content a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.sub-content dd a {
    border-left: 1px solid #e0e0e0;
    padding: 0 10px;
    margin: 4px 0;
}

.sub-content dl {
    overflow: hidden; /* BFC: 为了使子元素浮动不使父元素高度塌陷 */
}

.sub-content dt {
    float: left;
    width: 70px;
    font-weight: bold;
    clear: left;
    position: relative;
}

.sub-content dd {
    float: left;
    margin-left: 5px;
    border-top: 1px solid #eee;
    margin-bottom: 5px;
}

.sub-content dt i {
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;
    position: absolute;
    right: 5px;
    top: 5px;
}

